---
title: Java
permalink: /java/
categories: java
---
<div class="container">
  <div id="article">
  <h1>Java</h1>
  <ul class="posts">
    {% if site.categories[page.categories] %}
        {% for post in site.categories[page.categories] %}
			<li><span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</time></span></li>      
        {% endfor %}
    
    {% else %}
        <p>There are no posts in this categories.</p>
    {% endif %}
 </ul>
</div>
