  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>어서오세요.</h1>
      <h2>이 블로그는 공부하면서 정리했던 내용이 들어있습니다.
	  JAVA, JSP, 스프링 프레임워크를 보시려면 <a href="https://saewookr.github.io/java/">JAVA</a>, 리눅스 기본을 보시려면 <a href="https://saewookr.github.io/lunux/"> linux</a>,
	  하둡 및 R 을 보시려면 <a href="https://saewookr.github.io/bigdata/">BigData</a>, Android를 보시려면 <a href="https://saewookr.github.io/android/">Android</a> 를 선택해주세요. </h2>
      <hr />
    </div>
  </div>
  <div class ="container">
